name: is_takip
description: "A new Flutter project."
publish_to: 'none' 
version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_riverpod: ^2.6.1
  go_router: ^14.6.2
  supabase_flutter: ^2.9.1
  google_fonts: ^6.2.1
  flutter_animate: ^4.5.0
  intl: ">=0.19.0 <0.21.0"
  window_manager: ^0.4.3
  shared_preferences: ^2.5.2

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.14.3

flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  web:
    generate: true
    image_path: "assets/images/logohest.png"
  image_path: "assets/images/logohest.png"
  min_sdk_android: 21 

flutter:
  uses-material-design: true
  assets:
    - assets/images/logohest.png



